In [1]:
import numpy as np
import pandas as pd

## World Bank Indicators

In [119]:
data = pd.read_csv('PublicIndicators.csv')

In [120]:
data.head()

,Country Name,Country Code,Indicator Name,1990,1991,1992,1993,1994,1995,1996,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Central Europe and the Baltics,CEB,Account ownership at a financial institution o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Central Europe and the Baltics,CEB,"Contraceptive prevalence, modern methods (% of...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Central Europe and the Baltics,CEB,"Immunization, DPT (% of children ages 12-23 mo...",96.614495,96.885214,95.009345,93.643596,95.823217,96.265799,96.725374,...,96.142796,96.577037,96.664032,95.977648,95.180286,95.208589,93.146151,93.554325,94.131220,NaN
3,Central Europe and the Baltics,CEB,"Immunization, HepB3 (% of one-year-old children)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.141350,96.611042,96.212978,95.670205,94.271654,93.753374,93.131930,92.245208,91.826727,NaN
4,Central Europe and the Baltics,CEB,"Immunization, measles (% of children ages 12-2...",94.857974,94.316681,93.588076,93.727923,94.356332,95.070741,96.344230,...,96.480811,96.544459,96.336633,95.187687,94.108697,93.813529,93.212360,93.490809,93.143388,NaN

In [8]:
#hold onto in case we want to upgrade the app to call the WB API
indicator_dict = {
'FX.OWN.TOTL.ZS': ['Account ownership at a financial institution or with a mobile-money-service provider', '% of population ages 15+'],
'SP.DYN.CONM.ZS': ['Contraceptive prevalence, modern methods', '% of women ages 15-49'],
'SH.IMM.IDPT': ['Immunization, DPT', '% of children ages 12-23 months'],
'SH.IMM.HEPB': ['Immunization, HepB3','% of one-year-old children'],
'SH.IMM.MEAS': ['Immunization, measles', '% of children ages 12-23 months'],
'SH.HIV.INCD.YG.P3': ['Incidence of HIV, ages 15-49', 'per 1,000 uninfected population ages 15-49'],
'SH.MLR.INCD.P3': ['Incidence of malaria', 'per 1,000 population at risk'],
'SH.TBS.INCD': ['Incidence of tuberculosis', 'per 100,000 people'],
'SH.STA.MMRT': ['Maternal mortality ratio', 'modeled estimate, per 100,000 live births'],
'SH.DYN.NMRT': ['Mortality rate, neonatal', 'per 1,000 live births'],
'SH.DYN.MORT': ['Mortality rate, under-5', 'per 1,000 live births'],
'SH.STA.BASS.ZS': ['People using at least basic sanitation services', '% of population'],
'SI.POV.DDAY': ['Poverty headcount ratio at $1.90 a day (2011 PPP)', '% of population'],
'SI.POV.LMIC': ['Poverty headcount ratio at $3.20 a day (2011 PPP)', '% of population'],
'SH.PRV.SMOK': ['Smoking prevalence, total', 'ages 15+'],
'SH.UHC.SRVS.CV.XD': ['UHC service coverage index', '']}

In [121]:
map_dict = {
'Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+)': ['Account ownership at a financial institution or with a mobile-money-service provider', '% of population', '15+'],
'Contraceptive prevalence, modern methods (% of women ages 15-49)': ['Contraceptive prevalence, modern methods', '% of women',  '15-49'],
'Immunization, DPT (% of children ages 12-23 months)': ['Immunization, DPT', '% of children', '12-23 months'],
'Immunization, HepB3 (% of one-year-old children)': ['Immunization, HepB3','% of one-year-old children', '12-23 months'],
'Immunization, measles (% of children ages 12-23 months)': ['Immunization, measles', '% of children', '12-23 months'],
'Incidence of HIV, ages 15-49 (per 1,000 uninfected population ages 15-49)': ['Incidence of HIV, ages 15-49', 'per 1,000 uninfected population', '15-49'],
'Incidence of malaria (per 1,000 population at risk)': ['Incidence of malaria', 'per 1,000 population at risk', 'all'],
'Incidence of tuberculosis (per 100,000 people)': ['Incidence of tuberculosis', 'per 100,000 people', 'all'],
'Maternal mortality ratio (modeled estimate, per 100,000 live births)': ['Maternal mortality ratio, modeled estimate', 'per 100,000 live births', '15-49'],
'Mortality rate, neonatal (per 1,000 live births)': ['Mortality rate, neonatal', 'per 1,000 live births', '0-28 days'],
'Mortality rate, under-5 (per 1,000 live births)': ['Mortality rate, under-5', 'per 1,000 live births', '0-5 years'],
'People using at least basic sanitation services (% of population)': ['People using at least basic sanitation services', '% of population', 'all'],
'Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)': ['Poverty headcount ratio at $1.90 a day (2011 PPP)', '% of population', 'all'],
'Poverty headcount ratio at $3.20 a day (2011 PPP) (% of population)': ['Poverty headcount ratio at $3.20 a day (2011 PPP)', '% of population', 'all'],
'Smoking prevalence, total (ages 15+)': ['Prevalence of current tobacco use', '% of population', 'ages 15+'],
'UHC service coverage index': ['UHC service coverage index', 'index score', 'all']}

In [122]:
map_df = pd.DataFrame.from_dict(map_dict, orient='index')

In [123]:
map_df.reset_index(inplace=True)
map_df.columns=['Indicator full name', 'Indicator short name', 'indicator units', 'age']

In [124]:
df = pd.merge(data, map_df, how='left', left_on='Indicator Name', right_on='Indicator full name')
df.drop(labels=['Indicator Name', 'Indicator full name'], axis=1, inplace=True)

In [125]:
df1 = df.melt(id_vars=['Country Code', 'Country Name','Indicator short name', 'indicator units', 'age'])
df1.columns=['Location code', 'Location', 'Indicator', 'Indicator units', 'Age', 'Year', 'Mean estimate']
df1['Sex'] = "All sexes"
df1['Scenario type'] = "Reference"

In [126]:
df1.head()

,Location code,Location,Indicator,Indicator units,Age,Year,Mean estimate,Sex,Scenario type
0,CEB,Central Europe and the Baltics,Account ownership at a financial institution o...,% of population,15+,1990,NaN,All sexes,Reference
1,CEB,Central Europe and the Baltics,"Contraceptive prevalence, modern methods",% of women,15-49,1990,NaN,All sexes,Reference
2,CEB,Central Europe and the Baltics,"Immunization, DPT",% of children,12-23 months,1990,96.614495,All sexes,Reference
3,CEB,Central Europe and the Baltics,"Immunization, HepB3",% of one-year-old children,12-23 months,1990,NaN,All sexes,Reference
4,CEB,Central Europe and the Baltics,"Immunization, measles",% of children,12-23 months,1990,94.857974,All sexes,Reference

## UNICEF Comparison Values

In [2]:
data2 = pd.read_csv('fusion_GLOBAL_DATAFLOW_UNICEF_1.0_all.csv')

C:\Users\lauralud\AppData\Local\Continuum\anaconda3\envs\py3gk2020\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [127]:
data2.head()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
0,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,DM_POP_TOT: Total population,F: Female,1950,3652.874,3: Thousands,PS: Persons,NaN,NaN,...,NaN,NaN,NaN,UNPD2019,NaN,NaN,NaN,NaN,NaN,NaN
1,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,DM_POP_TOT: Total population,F: Female,1951,3705.395,3: Thousands,PS: Persons,NaN,NaN,...,NaN,NaN,NaN,UNPD2019,NaN,NaN,NaN,NaN,NaN,NaN
2,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,DM_POP_TOT: Total population,F: Female,1952,3761.546,3: Thousands,PS: Persons,NaN,NaN,...,NaN,NaN,NaN,UNPD2019,NaN,NaN,NaN,NaN,NaN,NaN
3,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,DM_POP_TOT: Total population,F: Female,1953,3821.348,3: Thousands,PS: Persons,NaN,NaN,...,NaN,NaN,NaN,UNPD2019,NaN,NaN,NaN,NaN,NaN,NaN
4,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,DM_POP_TOT: Total population,F: Female,1954,3884.832,3: Thousands,PS: Persons,NaN,NaN,...,NaN,NaN,NaN,UNPD2019,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
df2 = data2[['REF_AREA:Geographic area','INDICATOR:Indicator','SEX:Sex','TIME_PERIOD:Time period', 'OBS_VALUE:Observation Value', 'UNIT_MULTIPLIER:Unit multiplier', 'UNIT_MEASURE:Unit of measure']].copy()
df2.columns = ['Location', 'Indicator', 'Sex', 'Year', 'Mean estimate', 'Unit multiplier', 'Unit of measure']

In [129]:
sub = df2['Indicator'].str.split(": ", n = 1, expand = True)
df2['Indicator'] = sub[1]

In [130]:
df2 = df2[df2['Indicator'].isin(['Under-five mortality rate', 'Demand for family planning satisfied with modern methods - percentage of women (aged 15-49 years)',
'Maternal mortality ratio (number of maternal deaths per 100,000 live births)', 'Neonatal mortality rate', 
'Percentage of surviving infants who received the third dose of DTP-containing vaccine', 
'Percentage of surviving infants who received the third dose of hep B-containing vaccine',
'Proportion of population using at least basic sanitation services'])].copy()

In [131]:
df2['Year'] = pd.to_numeric(df2['Year'])
df2 = df2[df2['Year']>=1990].copy()

In [132]:
df2.reset_index(inplace=True, drop=True)

In [133]:
sub = df2['Location'].str.split(": ", n = 1, expand = True)
df2['Location code'] = sub[0]
df2['Location name'] = sub[1]
df2.drop(columns=['Location'], inplace=True)

sub = df2['Sex'].str.split(": ", n = 1, expand = True)
df2['Sex'] = sub[1]
sub = df2['Unit of measure'].str.split(": ", n = 1, expand = True)
df2['Unit of measure'] = sub[1]

In [134]:
df2.head()

,Indicator,Sex,Year,Mean estimate,Unit multiplier,Unit of measure,Location code,Location name
0,Under-five mortality rate,Female,1990,173.057497347757,NaN,Deaths per 1000 live births,AFG,Afghanistan
1,Under-five mortality rate,Female,1991,167.076579725253,NaN,Deaths per 1000 live births,AFG,Afghanistan
2,Under-five mortality rate,Female,1992,161.370732017016,NaN,Deaths per 1000 live births,AFG,Afghanistan
3,Under-five mortality rate,Female,1993,155.899215664221,NaN,Deaths per 1000 live births,AFG,Afghanistan
4,Under-five mortality rate,Female,1994,150.659542247585,NaN,Deaths per 1000 live births,AFG,Afghanistan

In [135]:
df2 = df2[(df2['Sex']=="Total") | (df2['Indicator']=='Maternal mortality ratio (number of maternal deaths per 100,000 live births)')].copy()

### Harmonize Unicef and World Bank indicators

In [136]:
map_dict2 = {
'Demand for family planning satisfied with modern methods - percentage of women (aged 15-49 years)': ['Contraceptive prevalence, modern methods', '% of women',  '15-49'],
'Percentage of surviving infants who received the third dose of DTP-containing vaccine': ['Immunization, DPT', '% of children', '12-23 months'],
'Percentage of surviving infants who received the third dose of hep B-containing vaccine': ['Immunization, HepB3','% of one-year-old children', '12-23 months'],
'Maternal mortality ratio (number of maternal deaths per 100,000 live births)': ['Maternal mortality ratio, modeled estimate', 'per 100,000 live births', '15-49'],
'Neonatal mortality rate': ['Mortality rate, neonatal', 'per 1,000 live births', '0-28 days'],
'Under-five mortality rate': ['Mortality rate, under-5', 'per 1,000 live births', '0-5 years'],
'Proportion of population using at least basic sanitation services': ['People using at least basic sanitation services', '% of population', 'all']}

In [137]:
map_df2 = pd.DataFrame.from_dict(map_dict2, orient='index')
map_df2.reset_index(inplace=True)
map_df2.columns=['Indicator full name', 'Indicator short name', 'indicator units', 'age']

In [138]:
df2 = pd.merge(df2, map_df2, how='left', left_on='Indicator', right_on='Indicator full name')

In [139]:
df2 = df2[['Location code', 'Location name','Indicator short name','indicator units','age','Year','Mean estimate']].copy()
df2.columns=['Location code', 'Location', 'Indicator', 'Indicator units', 'Age', 'Year', 'Mean estimate']
df2['Sex'] = "All sexes"
df2['Scenario type'] = "Reference"

In [140]:
df2.head()

,Location code,Location,Indicator,Indicator units,Age,Year,Mean estimate,Sex,Scenario type
0,AFG,Afghanistan,"Maternal mortality ratio, modeled estimate","per 100,000 live births",15-49,2000,1450,All sexes,Reference
1,AFG,Afghanistan,"Maternal mortality ratio, modeled estimate","per 100,000 live births",15-49,2001,1390,All sexes,Reference
2,AFG,Afghanistan,"Maternal mortality ratio, modeled estimate","per 100,000 live births",15-49,2002,1300,All sexes,Reference
3,AFG,Afghanistan,"Maternal mortality ratio, modeled estimate","per 100,000 live births",15-49,2003,1240,All sexes,Reference
4,AFG,Afghanistan,"Maternal mortality ratio, modeled estimate","per 100,000 live births",15-49,2004,1180,All sexes,Reference

In [143]:
loc1 = pd.DataFrame(df1[['Location code', 'Location']].drop_duplicates())
loc1['from'] = 'df1'

In [181]:
locs_map = {'UNICEF_LAC': 'LCN','UNICEF_NA':'NAC', 'UNICEF_EAP':'EAS', 'UNICEF_ECA':'ECS', 'UNICEF_MENA':'MEA', 'UNICEF_SA':'SAS', 
            'UNICEF_SSA':'SSF', 'WORLD':'WLD'}

In [212]:
loc2 = pd.DataFrame(df2[['Location code', 'Location']].drop_duplicates())
loc2['Location code2'] = loc2['Location code'].map(locs_map, na_action='ignore')
loc2['from'] = 'df2'

In [213]:
loc2['Location code'] = np.where(loc2['Location code2'].isnull(), loc2['Location code'], loc2['Location code2'])
#loc2.drop(columns=['Location code2', 'Location code'])

In [215]:
locs = pd.merge(loc1, loc2, how='outer', on='Location code')

In [228]:
locs = locs.dropna(thresh=4)

In [236]:
locs

,Location code,Location_x,from_x,Location_y,Location code2,from_y
1,EAS,East Asia & Pacific,df1,East Asia and Pacific,EAS,df2
2,ECS,Europe & Central Asia,df1,Europe and Central Asia,ECS,df2
4,LCN,Latin America & Caribbean,df1,Latin America and Caribbean,LCN,df2
5,MEA,Middle East & North Africa,df1,Middle East and North Africa,MEA,df2
6,NAC,North America,df1,North America,NAC,df2
...,...,...,...,...,...,...
222,VIR,Virgin Islands (U.S.),df1,Virgin Islands U.S.,NaN,df2
223,PSE,West Bank and Gaza,df1,State of Palestine,NaN,df2
224,YEM,"Yemen, Rep.",df1,Yemen,NaN,df2
225,ZMB,Zambia,df1,Zambia,NaN,df2
226,ZWE,Zimbabwe,df1,Zimbabwe,NaN,df2

In [234]:
df1a = pd.merge(df1, locs, how='left', left_on='Location', right_on='Location_x')
df1a = df1a[~df1a['Location code_y'].isnull()].copy()
df1a = df1a[~df1a['Indicator'].isnull()].copy()
df1a = df1a[['Location', 'Indicator', 'Indicator units', 'Age','Year', 'Mean estimate', 'Sex', 'Scenario type']].copy()
df1a

,Location,Indicator,Indicator units,Age,Year,Mean estimate,Sex,Scenario type
20,East Asia & Pacific,Account ownership at a financial institution o...,% of population,15+,1990,NaN,All sexes,Reference
21,East Asia & Pacific,"Contraceptive prevalence, modern methods",% of women,15-49,1990,72.399248,All sexes,Reference
22,East Asia & Pacific,"Immunization, DPT",% of children,12-23 months,1990,90.456609,All sexes,Reference
23,East Asia & Pacific,"Immunization, HepB3",% of one-year-old children,12-23 months,1990,NaN,All sexes,Reference
24,East Asia & Pacific,"Immunization, measles",% of children,12-23 months,1990,89.443706,All sexes,Reference
...,...,...,...,...,...,...,...,...
140733,Zimbabwe,People using at least basic sanitation services,% of population,all,2020,NaN,All sexes,Reference
140734,Zimbabwe,Poverty headcount ratio at $1.90 a day (2011 PPP),% of population,all,2020,NaN,All sexes,Reference
140735,Zimbabwe,Poverty headcount ratio at $3.20 a day (2011 PPP),% of population,all,2020,NaN,All sexes,Reference
140738,Zimbabwe,Prevalence of current tobacco use,% of population,ages 15+,2020,NaN,All sexes,Reference
140739,Zimbabwe,UHC service coverage index,index score,all,2020,NaN,All sexes,Reference

In [240]:
df2a = pd.merge(df2, locs, how='left', left_on='Location', right_on='Location_y')
df2a = df2a[~df2a['Location code_y'].isnull()].copy()
df2a = df2a[['Location_x', 'Indicator', 'Indicator units', 'Age','Year', 'Mean estimate', 'Sex', 'Scenario type']].copy()
df2a.columns = ['Location', 'Indicator', 'Indicator units', 'Age','Year', 'Mean estimate', 'Sex', 'Scenario type']
df2a

,Location,Indicator,Indicator units,Age,Year,Mean estimate,Sex,Scenario type
0,Afghanistan,"Maternal mortality ratio, modeled estimate","per 100,000 live births",15-49,2000,1450,All sexes,Reference
1,Afghanistan,"Maternal mortality ratio, modeled estimate","per 100,000 live births",15-49,2001,1390,All sexes,Reference
2,Afghanistan,"Maternal mortality ratio, modeled estimate","per 100,000 live births",15-49,2002,1300,All sexes,Reference
3,Afghanistan,"Maternal mortality ratio, modeled estimate","per 100,000 live births",15-49,2003,1240,All sexes,Reference
4,Afghanistan,"Maternal mortality ratio, modeled estimate","per 100,000 live births",15-49,2004,1180,All sexes,Reference
...,...,...,...,...,...,...,...,...
34210,Sub-Saharan Africa,People using at least basic sanitation services,% of population,all,2017,31.272362,All sexes,Reference
34211,Sub-Saharan Africa,People using at least basic sanitation services,% of population,all,2018,31.73418,All sexes,Reference
34212,Sub-Saharan Africa,People using at least basic sanitation services,% of population,all,2019,32.270817,All sexes,Reference
34213,Sub-Saharan Africa,People using at least basic sanitation services,% of population,all,2020,32.692654,All sexes,Reference
34214,Sub-Saharan Africa,"Contraceptive prevalence, modern methods",% of women,15-49,2020,54.6944615,All sexes,Reference

In [241]:
df1a.to_csv('world_bank_indicators.csv', index=False)

In [242]:
df2a.to_csv('unicef_indicators.csv', index=False)